name = "ts-kv-tester"
type = "javascript"
zone_id = ""
account_id = ""
route = ""
workers_dev = true
compatibility_date = "2021-11-10"
kv_namespaces = [ 
  { binding = "SRT0_NS", preview_id = "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa", id = "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb" }
]

[build]
command = "npm install && npm run build"
[build.upload]
format = "service-worker"
